.prvi {
    width: 400px;
    height: 170px;
    background-color:  whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 7px; 
    position: relative;
    top: 200px;
    display: inline-block;
    padding-bottom: 30px;
    margin: 5px;
}
h4{
    font: revert;
    position: relative;
    left: 71px
}

p{
    position: relative;
    left: 40px;
    font-style: normal;
    color: gray;
}
img{
    position: relative;
    top: 48px;
    left: 33px;
    width: 35px;
    image-rendering: pixelated;
    border-radius: 50%;
    
}


a{
    position: relative;
    bottom: 15px ;
    left: 40px;
}
