.card {
    width: 350px;
    height: 400px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    margin: 25px;
    padding: 25px;
}
h6{
    font-size: 15px;
    color: grey;
   padding: 0px;
   padding: 25px ;
}
h1 {
    font-size: 27px;
}
p {
    color: gray;
    font-size: 20px;
}
h5{
    color: blue;
}
.icon {
    width: 40px;
    height: 20px;
    background-color: whitesmoke;
    margin: 0px auto;
    color: green;
    font-size: 50px;

}
